@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Добро пожаловать в <span class="text-black">Мониторинг API-Шлюзов Банка Эсхаты</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <p> Чтобы начать пользоваться системой. Пожалуйста<a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> войдите</a>  в систему</p>
                    </NotAuthorized>
                    <Authorized>
                        <span>Вы вошли как <b>@context.User.Identity.Name</b>.<a class="fw-bolder" href="/logout">Нажмите</a>Выход</span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>